<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BPE processing</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>

<input type="text" id="input" placeholder="Type your text here">
<button id="tokenize">Tokenize</button>
<textarea id="result" rows="10" placeholder="Tokenized result will appear here"></textarea>

</body>
<script>
    const input = document.getElementById('input');
    const tokenizeButton = document.getElementById('tokenize');
    const result = document.getElementById('result');

    tokenizeButton.onclick = async e => {
        const response = await fetch('/process', {
            method: 'POST',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({text: input.value})
          });
        const json = await response.json();
        result.value = json.processed_text;
    };
</script>
</html>